# Stack Overflow Webscraping Project

Description here

In [1]:
# Import libraries and modules
import pandas as pd
import ast
import time
import requests
from bs4 import BeautifulSoup

## Webscraping Stack Overflow

In [2]:
# Created an empty dataframe with the desired columns
df = pd.DataFrame(
    columns = [["company", "industry", "size", "year_founded", "status", "follower_count", "tech_stack", "benefits"]]
)

display(df)

Empty DataFrame
Columns: [(company,), (industry,), (size,), (year_founded,), (status,), (follower_count,), (tech_stack,), (benefits,)]
Index: []

In [3]:
# Created a function that collects spcific data points from stack overflow
def add_data_to_df(soupy):
    company_name = soupy.find("h1").text.strip() # Extract --> Company Name

    
    about_company = soupy.find_all("span", class_ = "d-block")


    indices = [12,13,14,15,16] # The indicies 12, 13, 14, 15,and 16 represents industy, size, year founded, status, and followers
    values = []

    for index in indices: # This loop ignores IndexErrors when running the function for certain companies that are missing data
        try:
            values.append(about_company[index].text.strip())
        except IndexError:
            values.append(None) 

    industry = values[0]
    size = values[1]
    year_founded = values[2]
    status = values[3]
    followers = values[4]

    tech_skills = soupy.find_all("a", class_ = "flex--item s-tag no-tag-menu") # Searched for the company's tech stack
    tech_stack = [] # Created a list containing all relevant tech skills 

    for item in range(len(tech_skills)):
        tech_stack.append(tech_skills[item].text.strip())


    benefits_list = soupy.find_all("div", class_="flex--item pl8 pt2 fw-normal fs-body2 fc-black-700") # Searched for company benefits
    benefits = [] # Created a list containing all listed company benefits

    for item in range(len(benefits_list)):
        benefits.append(benefits_list[item].text.strip())
    
    
    # Appended all webscrapped elements into a list "new_row"

    new_row = [] 

    new_row.append(company_name)
    new_row.append(industry)
    new_row.append(size)
    new_row.append(year_founded)
    new_row.append(status)
    new_row.append(followers)
    new_row.append(tech_stack)
    new_row.append(benefits)

    df.loc[len(df.index)] = new_row # Added the list as a new row in the dataframe

In [4]:
# Accessing each link 

def scrape_page(page_link):

    company_list = page_link.find_all("a", class_="s-link", href=lambda href: href and "/jobs/companies" in href) # Accessed each <a> tag that includes href and "/jobs/companies"

    company_links = []

    for names in range(len(company_list)):
        company_links.append("https://stackoverflow.com" + company_list[names]["href"]) # The extracted links combines with "https://stackoverflow.com" generates the full link for each company's page on stack overflow


    # Created a for loop that loops through each company page at least three times
    for link in range(len(company_links)):  
        response = requests.get(company_links[link])
        max_attempts = 3 

        while max_attempts > 0:

            if response.status_code == 200:
                print("Successful connection")
                soupy = BeautifulSoup(response.text, "html")
                add_data_to_df(soupy)
                break

            elif response.status_code == 429:
                print("Response 429, reattempting...")
                time.sleep(5) # If the server is handling too many request --> wait five seconds and reattempt connection
                max_attempts -=1

            elif response.status_code == 403:
                print("Access Denied")
                break
            
            else:
                print(response.status_code)
                break

In [5]:
# Created a for loop that checks the connection of each page and scrapes data from each company's profile page through accessing their individual links

connection_attempts = 3
max_pages = 7

for page in range(1, max_pages + 1):
    url = f"https://stackoverflow.com/jobs/companies?pg={page}"
     
    while connection_attempts > 0:
        response = requests.get(url)

        if response.status_code == 200: # used a similar for loop structure to the "scrape_page" function created above
            print(f"Successfully connected to page:{page}")
            soup = BeautifulSoup(response.text, "html")
            scrape_page(soup)
            break

        elif response.status_code == 429:
            print("Response [429]: Reattempting to connect")
            time.sleep(5)
            connection_attempts -= 1

        elif response.status_code == 403:
                print("Response [403]: Access denied") 
                break
        else:
            print("Invalid link")
            break
    if connection_attempts == 0:
        print("Max number of attempts excceded")

Successfully connected to page:1
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successfully connected to page:2
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successfully connected to page:3
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successfully connected to page:4
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successfully connected to page:5
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successfully connected to page:6
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successful connection
Successfully connected to page:7
Successful connection
Successful connection

In [6]:
# Show the extracted data
display(df)

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
0,Paylocity,"Human Resources, Payroll, Software Development...",5k-10k employees,1997,Public,150,"[aws, api-gateway, .net, c#, sql-server, react...",[100% Remote Opportunities in Product & Tech T...
1,Arthrex GmbH,"Medical Devices, Medical Imaging, Medical Soft...",5k-10k employees,1981,Private,17,"[angular, javascript, .net, c#, azure, reactjs...","[International and dynamic environment, Free l..."
2,IT Sonix Custom Development GmbH,"Agile Software Development, Software Consultin...",51-200 employees,2011,Private,167,"[java, spring, boot, .net, core, c#, angular, ...","[Weiterbildung, Flexible Arbeitszeiten, Mobile..."
3,adjoe,"Ad Tech, Advertising Technology, Mobile Applic...",51-200 employees,2018,Private,368,"[ios, android, mobile, kotlin, elasticsearch, ...","[Work with the newest technologies, Free in-ho..."
4,GFT,"Banking, Cloud-Based Solutions, Financial Tech...",1k-5k employees,1987,Private,167,"[java, angular, .net, react, sql, python, rest...",[Worksmile - a cafeteria system. Monthly accou...
...,...,...,...,...,...,...,...,...
57,UBS,"Financial Services, Financial Technology",10k+ employees,Private,104,None,"[javascript, java, kotlin, kubernetes, cicd, p...",[Working with cutting edge tech and agile prac...
58,ZEISS Group,"Machine Learning, Medical Devices, Virtual Rea...",10k+ employees,1846,Private,219,"[angular, swift, c#, azure, javascript, python...","[Flexible working time models, Open, dialogue-..."
59,Citi,"Finance, Financial Technology, Risk Management",10k+ employees,Public,192,None,"[java, python, api, management, c#, ai, cloud-...","[Medical, Dental and Vision coverage, Paid Tim..."
60,Capital One – Mexico City,"Financial Services, Financial Technology",10k+ employees,1994,Public,3,"[javascript, scala, python, java, cassandra, h...","[Health Insurance + Wellness, Vacation + Paid ..."
61,Capital One - US,"Financial Services, Financial Technology",10k+ employees,1994,Public,6,"[javascript, java, cassandra, hbase, hadoop, m...","[Financial + Retirement, Child Care + Parental..."

## Data Cleaning and Feature Engineering

### Correcting Misplaced Values

In [7]:
# Created a csv file based on the extracted data
df.to_csv("companies.csv", index = False)
df = pd.read_csv("companies.csv")
display(df)

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
0,Paylocity,"Human Resources, Payroll, Software Development...",5k-10k employees,1997,Public,150,"['aws', 'api-gateway', '.net', 'c#', 'sql-serv...",['100% Remote Opportunities in Product & Tech ...
1,Arthrex GmbH,"Medical Devices, Medical Imaging, Medical Soft...",5k-10k employees,1981,Private,17,"['angular', 'javascript', '.net', 'c#', 'azure...","['International and dynamic environment', 'Fre..."
2,IT Sonix Custom Development GmbH,"Agile Software Development, Software Consultin...",51-200 employees,2011,Private,167,"['java', 'spring', 'boot', '.net', 'core', 'c#...","['Weiterbildung', 'Flexible Arbeitszeiten', 'M..."
3,adjoe,"Ad Tech, Advertising Technology, Mobile Applic...",51-200 employees,2018,Private,368,"['ios', 'android', 'mobile', 'kotlin', 'elasti...","['Work with the newest technologies', 'Free in..."
4,GFT,"Banking, Cloud-Based Solutions, Financial Tech...",1k-5k employees,1987,Private,167,"['java', 'angular', '.net', 'react', 'sql', 'p...",['Worksmile - a cafeteria system. Monthly acco...
...,...,...,...,...,...,...,...,...
57,UBS,"Financial Services, Financial Technology",10k+ employees,Private,104,NaN,"['javascript', 'java', 'kotlin', 'kubernetes',...",['Working with cutting edge tech and agile pra...
58,ZEISS Group,"Machine Learning, Medical Devices, Virtual Rea...",10k+ employees,1846,Private,219,"['angular', 'swift', 'c#', 'azure', 'javascrip...","['Flexible working time models', 'Open, dialog..."
59,Citi,"Finance, Financial Technology, Risk Management",10k+ employees,Public,192,NaN,"['java', 'python', 'api', 'management', 'c#', ...","['Medical, Dental and Vision coverage', 'Paid ..."
60,Capital One – Mexico City,"Financial Services, Financial Technology",10k+ employees,1994,Public,3,"['javascript', 'scala', 'python', 'java', 'cas...","['Health Insurance + Wellness', 'Vacation + Pa..."
61,Capital One - US,"Financial Services, Financial Technology",10k+ employees,1994,Public,6,"['javascript', 'java', 'cassandra', 'hbase', '...","['Financial + Retirement', 'Child Care + Paren..."

#### Correcting Misplaced "industry" Column Values

In [8]:
# Identified the companies that have misplaced industry values
# Found that certain companies did not list their industry, causing the data to be shifted one value to the left
industry_list = df["industry"].values

for item in industry_list:
    if str("employees") in str(item): 
        display(df[df["industry"] == item])

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
49,Novo Nordisk A/S,10k+ employees,1923,Public,412,NaN,"['javascript', 'html', 'css', 'sql', 'python',...","['Working with highly skilled developers', 'Wo..."

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
55,KVK,1k-5k employees,1803,Public,53,NaN,"['.net', 'react', 'java', 'angular', 'c#', 'ty...","['Hybride werken', 'Agile werkwijze', 'Werken ..."

In [9]:
# Corrected the misplaced values by shifting values under the "industry", "size", "year_founded", "status", and "follower_count" one value to the right
# Removed the "NaN" value from the "follower_count" column and added it to the "industry" column
industry_list = df["industry"].values

for item in industry_list:
    if "employees" in item: 

        index = df[df["industry"] == item].index
        
        size = df.loc[index, "industry"]
        year_founded = df.loc[index, "size"]
        status = df.loc[index, "year_founded"]
        follower_count = df.loc[index, "status"]

        df.loc[index, "industry"] = None
        df.loc[index, "size"] = size
        df.loc[index, "year_founded"] = year_founded
        df.loc[index, "status"] = status
        df.loc[index, "follower_count"] = follower_count
        
        display(df.iloc[index])
    else: 
        pass

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
49,Novo Nordisk A/S,None,10k+ employees,1923,Public,412,"['javascript', 'html', 'css', 'sql', 'python',...","['Working with highly skilled developers', 'Wo..."

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
55,KVK,None,1k-5k employees,1803,Public,53,"['.net', 'react', 'java', 'angular', 'c#', 'ty...","['Hybride werken', 'Agile werkwijze', 'Werken ..."

#### Correcting Misplaced "year_founded" and "status" Column Values

In [10]:
# Identified companies that misplaced "year_founded" and "status" values 
# Noted that the rows with incorrect values for the "year_founded" column also have no value in its "follower_count" column, meaning these companies are missing "year_founded" data
year_founded_values = df["year_founded"].unique()

for value in year_founded_values:
    if ("Public" in value) or ("Private" in value) or ("VC Funded" in value):
        display(df[df["year_founded"] == value])

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
31,"Logius, onderdeel ministerie BZK","Computer Software, Government, IT Consulting",501-1k employees,Public,44,NaN,"['grafana', 'kibana', 'thanos', 'minio', 'harb...","['Individueel keuze budget (IKB) van 16,37% ov..."
43,Roblox,"Communications, Software Development, Virtual ...",1k-5k employees,Public,174,NaN,"['c#', 'c++', 'lua', 'python', 'node.js', 'mac...","['Robust medical, dental, and vision coverage'..."
45,Warner Bros. Discovery,"Broadcast, Digital Media, Entertainment",10k+ employees,Public,449,NaN,"['java', 'spring-boot', 'javascript', 'python-...","['Health insurance (medical, dental, vision, p..."
52,Caterpillar Inc.,"Internet of Things, Manufacturing, Software De...",10k+ employees,Public,438,NaN,"['java', 'javascript', 'python', 'scala', 'sql...","['Flexible and Hybrid Work options', 'Health, ..."
59,Citi,"Finance, Financial Technology, Risk Management",10k+ employees,Public,192,NaN,"['java', 'python', 'api', 'management', 'c#', ...","['Medical, Dental and Vision coverage', 'Paid ..."

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
32,Deutsche Börse Group,"Customer Data Platform, Financial Technology, ...",10k+ employees,Private,103,NaN,"['c++', 'java', 'python', 'google-cloud-platfo...",['HYBRID WORK – our working model combines the...
35,Gatekeeper,"Computer Software, Enterprise Software, Legal ...",51-200 employees,Private,42,NaN,"['ruby-on-rails', 'javascript', 'hotwire-rails...",['Fully remote working. Our team currently spa...
53,Smals,"Cloud Computing, Information Technology, Softw...",1k-5k employees,Private,127,NaN,"['java', 'javascript', '.net', 'php', 'c#', 's...",['Challenging projects with a positive impact ...
57,UBS,"Financial Services, Financial Technology",10k+ employees,Private,104,NaN,"['javascript', 'java', 'kotlin', 'kubernetes',...",['Working with cutting edge tech and agile pra...

In [11]:
# Shifted the "year_founded", "status", and "follower_count" column one cell to the right and set "year_founded" column values to None 
for value in year_founded_values:
    if ("Public" in value) or ("Private" in value) or ("VC Funded" in value):

        index = df[df["year_founded"] == value].index
        
        df.loc[index, "follower_count"] = df.loc[index, "status"] 
        df.loc[index, "status"] = df.loc[index, "year_founded"]
        df.loc[index, "year_founded"] = None

        display(df.iloc[index])
    else:
        pass

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
31,"Logius, onderdeel ministerie BZK","Computer Software, Government, IT Consulting",501-1k employees,None,Public,44,"['grafana', 'kibana', 'thanos', 'minio', 'harb...","['Individueel keuze budget (IKB) van 16,37% ov..."
43,Roblox,"Communications, Software Development, Virtual ...",1k-5k employees,None,Public,174,"['c#', 'c++', 'lua', 'python', 'node.js', 'mac...","['Robust medical, dental, and vision coverage'..."
45,Warner Bros. Discovery,"Broadcast, Digital Media, Entertainment",10k+ employees,None,Public,449,"['java', 'spring-boot', 'javascript', 'python-...","['Health insurance (medical, dental, vision, p..."
52,Caterpillar Inc.,"Internet of Things, Manufacturing, Software De...",10k+ employees,None,Public,438,"['java', 'javascript', 'python', 'scala', 'sql...","['Flexible and Hybrid Work options', 'Health, ..."
59,Citi,"Finance, Financial Technology, Risk Management",10k+ employees,None,Public,192,"['java', 'python', 'api', 'management', 'c#', ...","['Medical, Dental and Vision coverage', 'Paid ..."

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
32,Deutsche Börse Group,"Customer Data Platform, Financial Technology, ...",10k+ employees,None,Private,103,"['c++', 'java', 'python', 'google-cloud-platfo...",['HYBRID WORK – our working model combines the...
35,Gatekeeper,"Computer Software, Enterprise Software, Legal ...",51-200 employees,None,Private,42,"['ruby-on-rails', 'javascript', 'hotwire-rails...",['Fully remote working. Our team currently spa...
53,Smals,"Cloud Computing, Information Technology, Softw...",1k-5k employees,None,Private,127,"['java', 'javascript', '.net', 'php', 'c#', 's...",['Challenging projects with a positive impact ...
57,UBS,"Financial Services, Financial Technology",10k+ employees,None,Private,104,"['javascript', 'java', 'kotlin', 'kubernetes',...",['Working with cutting edge tech and agile pra...

### Spliting the "tech_stack" and "benefits" Columns into Multiple Columns

In [12]:
test_df = df.copy()
test_df

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
0,Paylocity,"Human Resources, Payroll, Software Development...",5k-10k employees,1997,Public,150,"['aws', 'api-gateway', '.net', 'c#', 'sql-serv...",['100% Remote Opportunities in Product & Tech ...
1,Arthrex GmbH,"Medical Devices, Medical Imaging, Medical Soft...",5k-10k employees,1981,Private,17,"['angular', 'javascript', '.net', 'c#', 'azure...","['International and dynamic environment', 'Fre..."
2,IT Sonix Custom Development GmbH,"Agile Software Development, Software Consultin...",51-200 employees,2011,Private,167,"['java', 'spring', 'boot', '.net', 'core', 'c#...","['Weiterbildung', 'Flexible Arbeitszeiten', 'M..."
3,adjoe,"Ad Tech, Advertising Technology, Mobile Applic...",51-200 employees,2018,Private,368,"['ios', 'android', 'mobile', 'kotlin', 'elasti...","['Work with the newest technologies', 'Free in..."
4,GFT,"Banking, Cloud-Based Solutions, Financial Tech...",1k-5k employees,1987,Private,167,"['java', 'angular', '.net', 'react', 'sql', 'p...",['Worksmile - a cafeteria system. Monthly acco...
...,...,...,...,...,...,...,...,...
57,UBS,"Financial Services, Financial Technology",10k+ employees,None,Private,104,"['javascript', 'java', 'kotlin', 'kubernetes',...",['Working with cutting edge tech and agile pra...
58,ZEISS Group,"Machine Learning, Medical Devices, Virtual Rea...",10k+ employees,1846,Private,219,"['angular', 'swift', 'c#', 'azure', 'javascrip...","['Flexible working time models', 'Open, dialog..."
59,Citi,"Finance, Financial Technology, Risk Management",10k+ employees,None,Public,192,"['java', 'python', 'api', 'management', 'c#', ...","['Medical, Dental and Vision coverage', 'Paid ..."
60,Capital One – Mexico City,"Financial Services, Financial Technology",10k+ employees,1994,Public,3,"['javascript', 'scala', 'python', 'java', 'cas...","['Health Insurance + Wellness', 'Vacation + Pa..."
61,Capital One - US,"Financial Services, Financial Technology",10k+ employees,1994,Public,6,"['javascript', 'java', 'cassandra', 'hbase', '...","['Financial + Retirement', 'Child Care + Paren..."

#### Spliting Up the "tech_stack" Column

In [75]:
df["tech_stack"][0]

"['aws', 'api-gateway', '.net', 'c#', 'sql-server', 'react-native', 'agile', 'kubernetes', 'sql', 'ruby-on-rails', 'css', 'python', 'amazon-ec2', 'aws-lambda', 'octopus-deploy', 'teamcity', 'infrastructure-as-code', 'cisco', 'f5', 'imperva', 'devops', 'swift', 'kotlin', 'cypress', 'postman', 'data-modeling', 'supervised-learning', 'nlp', 'machine-learning', 'cicd', 'docker', 'pyspark']"

In [76]:

df["tech_stack"] = df["tech_stack"].apply(ast.literal_eval) # Changes the column data type from string to list


print(df["tech_stack"].iloc[0])

['aws', 'api-gateway', '.net', 'c#', 'sql-server', 'react-native', 'agile', 'kubernetes', 'sql', 'ruby-on-rails', 'css', 'python', 'amazon-ec2', 'aws-lambda', 'octopus-deploy', 'teamcity', 'infrastructure-as-code', 'cisco', 'f5', 'imperva', 'devops', 'swift', 'kotlin', 'cypress', 'postman', 'data-modeling', 'supervised-learning', 'nlp', 'machine-learning', 'cicd', 'docker', 'pyspark']

In [87]:
# Obtain all unique values from the tech stack column
tech_stack_list = []

for item in range(len(df["tech_stack"])):
    row = df["tech_stack"][item]
    
    for index in range(len(row)):
        tech_stack_list.append(row[index])

tech_stack_df = pd.DataFrame({"Tech_stack": tech_stack_list})
tech_stack_df

               Tech_stack
0                     aws
1             api-gateway
2                    .net
3                      c#
4              sql-server
...                   ...
1750                nosql
1751               docker
1752           kubernetes
1753          spring-boot
1754  amazon-web-services

[1755 rows x 1 columns]

In [90]:
tech_stack_df.duplicated().sum()

1160

In [94]:
tech_stack_df = tech_stack_df.drop_duplicates()
tech_stack_df

          Tech_stack
0                aws
1        api-gateway
2               .net
3                 c#
4         sql-server
...              ...
1705  golang-migrate
1706       data-mesh
1707     data-fabric
1708   data-security
1727           rdbms

[595 rows x 1 columns]

In [98]:
display(tech_stack_df)

          Tech_stack
0                aws
1        api-gateway
2               .net
3                 c#
4         sql-server
...              ...
1705  golang-migrate
1706       data-mesh
1707     data-fabric
1708   data-security
1727           rdbms

[595 rows x 1 columns]

### Checking and Setting Column Data Types

In [ ]:
# Checked the current data type for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         62 non-null     object
 1   industry        60 non-null     object
 2   size            62 non-null     object
 3   year_founded    53 non-null     object
 4   status          62 non-null     object
 5   follower_count  61 non-null     object
 6   tech_stack      62 non-null     object
 7   benefits        62 non-null     object
dtypes: object(8)
memory usage: 4.0+ KB

In [ ]:
df

,company,industry,size,year_founded,status,follower_count,tech_stack,benefits
0,Pluralsight,SaaS,1k-5k employees,2004,VC Funded,399,"['.net', 'c#', 'c++', 'golang', 'java', 'javas...","['Unlimited paid time off', 'Summer Fridays', ..."
1,ALDI SÜD IT,"E-Commerce, Information Technology, Retail",1k-5k employees,1913,Private,51,"['angular', 'asp.net-core', 'azure', 'bash', '...","['30 days of annual leave', 'Holiday and Chris..."
2,Nord Security,"Cybersecurity, Network Security, Software Deve...",1k-5k employees,2012,Private,482,"['php', 'go', 'mysql', 'apache-kafka', 'symfon...",['The opportunity to shape a more trusted and ...
3,Volvo Group,Transportation,10k+ employees,1927,Private,378,"['reactjs', 'javascript', 'java', 'python', 'c...","['Freedom to explore, try and create', 'Dressc..."
4,EMBL-EBI (EMBL's European Bioinformatics Insti...,"Big Data, Data Science, Life Sciences",501-1k employees,1992,Public,164,"['javascript', 'java', 'angular', 'reactjs', '...","['Private Health Insurance', '30 days annual l..."
...,...,...,...,...,...,...,...,...
57,UBS,"Financial Services, Financial Technology",10k+ employees,None,Private,103,"['javascript', 'java', 'kotlin', 'kubernetes',...",['Working with cutting edge tech and agile pra...
58,ZEISS Group,"Machine Learning, Medical Devices, Virtual Rea...",10k+ employees,1846,Private,219,"['angular', 'swift', 'c#', 'azure', 'javascrip...","['Flexible working time models', 'Open, dialog..."
59,Citi,"Finance, Financial Technology, Risk Management",10k+ employees,None,Public,192,"['java', 'python', 'api', 'management', 'c#', ...","['Medical, Dental and Vision coverage', 'Paid ..."
60,Capital One – Mexico City,"Financial Services, Financial Technology",10k+ employees,1994,Public,1,"['javascript', 'scala', 'python', 'java', 'cas...","['Health Insurance + Wellness', 'Vacation + Pa..."
61,Capital One - US,"Financial Services, Financial Technology",10k+ employees,1994,Public,6,"['javascript', 'java', 'cassandra', 'hbase', '...","['Financial + Retirement', 'Child Care + Paren..."

In [ ]:
# Set specific data types for each column in the dataset

"""
df["company"] = df["company"].astype("string")
df["industry"] = df["industry"].astype("string")
df["size"] = df["size"].astype("string")
df["year_founded"] = df["year_founded"].astype("int64") # issue with int and nonetypes
df["status"] = df["status"].astype("string")
df["follower_count"] = df["follower_count"].astype("int64")
"""

'\ndf["company"] = df["company"].astype("string")\ndf["industry"] = df["industry"].astype("string")\ndf["size"] = df["size"].astype("string")\ndf["year_founded"] = df["year_founded"].astype("int64") # issue with int and nonetypes\ndf["status"] = df["status"].astype("string")\ndf["follower_count"] = df["follower_count"].astype("int64")\n'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         62 non-null     object
 1   industry        60 non-null     object
 2   size            62 non-null     object
 3   year_founded    53 non-null     object
 4   status          62 non-null     object
 5   follower_count  61 non-null     object
 6   tech_stack      62 non-null     object
 7   benefits        62 non-null     object
dtypes: object(8)
memory usage: 4.0+ KB

In [ ]:
# Separated the "tech_stack" column into multiple columns organized by type of tech
# New Columns: "Cloud Services and Infrastructure", "Programing Languages and Frameworks", "Databases and Data Technologies"